@model AdventureGuide.Models.Destinations.Destination;

<li class="list-group-item list-group-item-action" style="min-width:800px;" onclick="window.location='@Url.Action("Details", new { destinationId = Model.Id })'">
    <div class="d-flex justify-content-start">
        <div>
            <img src="@Url.Content(Model.ImagePaths.First().Path)" style="max-width:128px;max-height:128px" alt="Destination icon"/>
        </div>
        <div style="width:100%">
            <div class="ml-2">
                <div class="d-flex justify-content-between my-star">
                    <h2 class="text-truncate mt-1">@Model.Name</h2>
                    <input id="input-6" name="input-6" class="rating rating-loading" value="@Model.Rating" data-min="0" data-max="5" data-step=".5" data-readonly="true">
                </div>
                @Model.Description
            </div>
        </div>
    </div>
</li>