@model AdventureGuide.Models.Destinations.Destination;

<li class="list-group-item list-group-item-action" onclick="window.location='@Url.Action("Details", new { destinationId = Model.Id })'">

    <div class="row">
        <div class="d-flex justify-content-start col-sm-2">
            <img class="img-container img-thumbnail" src="@Url.Content(Model.ImagePaths.First().Path)" alt="Destination icon" />
        </div>
        <div class="d-flex flex-column pl-2 col-sm-10">
            <div class="d-flex flex-wrap">

                <div class="mr-auto col-sm-5 pl-0">
                    <h2 class="mt-1">@Model.Name</h2>
                </div>
                <div class="d-flex col-sm-5">
                    <div class="my-star ml-auto">
                        <input id="input-6" name="input-6" class="rating rating-loading" value="@Model.Rating" data-min="0" data-max="5" data-step=".5" data-readonly="true">
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <div class="mr-auto">
                    @Model.Description
                </div>
                
            </div>

        </div>
    </div>
</li>