@model AdventureGuide.Models.Destinations.Destination
@using AdventureGuide.Models.Destinations;

@{
    ViewData["Title"] = "Details";
}
<div class="destination-background">
    <div class="container body-content">
        <div class="mt-1">
            <div class="d-flex justify-content-between">
                <div>
                    <div class="d-flex justify-content-start">
                        <h3 class="mt-2">@Model.Name</h3>
                        <div class="d-flex justify-content-start ml-3 my-star">
                            <p class="mt-3 mr-3 font-weight-light">Average rating:</p> <input id="input-6" name="input-6" class="rating rating-loading" value="@Model.Rating" data-min="0" data-max="5" data-step=".5" data-readonly="true">
                        </div>
                    </div>
                    <div>
                        <p>@Model.Address @Model.City @Model.State, @Model.Country @Model.Zip</p>
                    </div>
                    <div>
                        @foreach (Keyword keyword in Model.Keywords)
                        {
                            <div class="badge badge-info">@keyword.KeywordString</div>
                        }
                    </div>
                    <hr />
                    <div>
                        @Model.Description
                    </div>

                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>

                <div class="text-center">
                    <img src="@Url.Content(Model.ImagePaths.First().Path)" style="max-width:256px;max-height:256px" alt="Destination image" />
                    <form>
                        <button class="btn btn-primary mt-2" type="button" data-toggle="modal" data-target="#PhotosModal">
                            View more photos
                        </button>
                    </form>
                </div>
            </div>
            <hr />

            <div class="col-sm-12 p-05">
                <div class="card card-order-info p-1 d-flex justify-content-around h-100 border-none">
                    <div class="card-body wrap-map flex-item">
                        <div class="destination-map" id="map"></div>
                    </div>
                </div>
            </div>

            <input class="hidden-lat" type="hidden" value="@Model.Latitude" />
            <input class="hidden-lon" type="hidden" value="@Model.Longitude" />
            <div class="review-background">
                <div class="d-flex justify-content-start">
                   
                    <h2>Reviews</h2>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <form>
                            <!-- TODO: implement route to add review IF it does not exist-->
                            <button class="btn-sm btn-primary ml-2 mt-2" type="submit">
                                Add a review for this place
                            </button>
                        </form>
                    }
                    else
                    { <!-- TODO: try to stay on destination details page after logging in/making account-->
                        <a class="nav-link mt-1" asp-area="Identity" asp-page="/Account/Login">Log in to leave a review!</a>
                    }
                </div>

                <div id="DestinationComment">
                    <partial name="_ReviewDetails" model="Model.Reviews" />
                </div>
            </div>
        </div>

        <!-- View Photos Modal -->
        <div class="modal fade" id="PhotosModal" tabindex="-1" role="dialog" aria-labelledby="PhotosModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="photosModalLabel">Photos</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @if (Model.ImagePaths.Any())
                        {
                            @foreach (ImagePath imagePath in Model.ImagePaths)
                            {
                                if (imagePath.Path != "/images/defaultDestinationImage.png")
                                {
                                    <partial name="_PhotoGrid" model="imagePath" />
                                }
                                else
                                {
                                    <div> There are no images for this destination!</div>
                                }
                            }
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function SubmitReview(id)
    {
        var data = { "DestinationId": id, "Rating": parseFloat($("#StarRating").val()), "Comment": $("#UserComment").val() };
        $.ajax({
            method: 'POST',
            url: "@Url.Action("SubmitReview", "Destination")",
            data: JSON.stringify(data),
            timeout: 60000,
            dataType: "html",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                $("#UserComment").val("");
                $("#DestinationComment").html(response);
            }
        })
    }
</script>

<link href="~/lib/leaflet/dist/leaflet.css" rel="stylesheet" />
<script src="~/lib/leaflet/dist/leaflet.js"></script>
<script src="~/js/MapHelper.js"></script>
<script>
    $(document).ready(function () {
        ShowMap();
    });
</script>
    
