@model AdventureGuide.Models.Destinations.Destination
@using AdventureGuide.Models.Destinations;

@{
    ViewData["Title"] = "Details";
}

<div class="mt-1">
    <h3>Destination Details</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.Keywords)
        </dt>
        @foreach (Keyword keyword in Model.Keywords)
        {
            <dd>
                @keyword.KeywordString
            </dd>
        }

    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div>
        <label for="star-rating" class="control-label">Rate This</label>
        <input id="StarRating" name="star-rating" class="rating rating-loading" data-min="0" data-max="5" data-step="0.5">
        <textarea id="UserComment" placeholder="Leave Your Comment on the Destination Here!"></textarea>
        <button onclick="SubmitReview('@Model.Id')"> Submit Review! </button>
    </div>
}
else
{
    <label for="star-rating" class="control-label">Rate This</label>
    <input name="star-rating" class="rating rating-loading" data-min="0" data-max="5" data-step="0.5" data-readonly="true">
    <textarea placeholder="Login to Leave your Review!" disabled></textarea>
}

<div id="DestinationComment">
    <partial name="_ReviewDetails" model="Model.Reviews" />
</div>


<script type="text/javascript">

    function SubmitReview(id)
    {
        var data = { "DestinationId": id, "Rating": parseFloat($("#StarRating").val()), "Comment": $("#UserComment").val() };
        $.ajax({
            method: 'POST',
            url: "@Url.Action("SubmitReview", "Destination")",
            data: JSON.stringify(data),
            timeout: 60000,
            dataType: "html",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                $("#UserComment").val("");
                $("#DestinationComment").html(response);
            }
        })
    }
</script>

