@model AdventureGuide.Models.Destinations.Destination
@using AdventureGuide.Models.Destinations;

@{
    ViewData["Title"] = "Details";
}

<div class="mt-1">
    <h3>Destination Details</h3>
    <hr />
    <div>
        <div>
            <span>@Model.Name</span>
        </div>
        <div>
            <span>@Model.Description</span>
        </div>
    </div>

    <div>
        <div>
            <span>@Model.Address</span>
            <input type="hidden" id="Address" value="@Model.Address" />
        </div>
        <div>
            <span>@Model.City</span>
            <input type="hidden" id="City" value="@Model.City" />
        </div>
        <div>
            <span>@Model.State</span>
            <input type="hidden" id="State" value="@Model.State" />
        </div>
        <div>
            <span>@Model.Zip</span>
            <input type="hidden" id="Zip" value="@Model.Zip" />
        </div>
        <div>
            <span>@Model.Country</span>
            <input type="hidden" id="Country" value="@Model.Country" />
        </div>
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.Keywords)
        </dt>
        @foreach (Keyword keyword in Model.Keywords)
        {
            <dd>
                @keyword.KeywordString
            </dd>
        }

    </dl>
</div>

<div class="col-sm-12 p-05">
    <div class="card card-order-info p-1 d-flex justify-content-around h-100 border-none">
        <div class="card-body wrap-map flex-item">
            <div class="destination-map" id="map"></div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div>
        <label for="star-rating" class="control-label">Rate This</label>
        <input id="StarRating" name="star-rating" class="rating rating-loading" data-min="0" data-max="5" data-step="0.5">
        <textarea id="UserComment" placeholder="Leave Your Comment on the Destination Here!"></textarea>
        <button onclick="SubmitReview('@Model.Id')"> Submit Review! </button>
    </div>
}
else
{
    <label for="star-rating" class="control-label">Rate This</label>
    <input name="star-rating" class="rating rating-loading" data-min="0" data-max="5" data-step="0.5" data-readonly="true">
    <textarea placeholder="Login to Leave your Review!" disabled></textarea>
}

<div id="DestinationComment">
    <partial name="_ReviewDetails" model="Model.Reviews" />
</div>


<script type="text/javascript">

    function SubmitReview(id)
    {
        var data = { "DestinationId": id, "Rating": parseFloat($("#StarRating").val()), "Comment": $("#UserComment").val() };
        $.ajax({
            method: 'POST',
            url: "@Url.Action("SubmitReview", "Destination")",
            data: JSON.stringify(data),
            timeout: 60000,
            dataType: "html",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                $("#UserComment").val("");
                $("#DestinationComment").html(response);
            }
        })
    }
</script>

<link href="~/lib/leaflet/dist/leaflet.css" rel="stylesheet" />
<script src="~/lib/leaflet/dist/leaflet.js"></script>
<script src="~/js/MapHelper.js"></script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqtBnPXVollQ4Oh-0WyJ3g-vDgKPcH4Ew&callback=InitMap">
</script>