@model AdventureGuide.Models.Destinations.Review;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager

    <li class="list-group-item list-group-item-action" style="min-width:600px;">
        <!-- TODO: implement onclick for review entry? (show full review text)-->
        <div>
            <div class="d-flex justify-content-between">
                @if(User.IsInRole("Admin"))
                {
                    <div class="d-flex">
                        <h4 class="mt-2 mr-3 text-truncate">@Model.Username</h4>
                    </div>
                }
                <div class="d-flex justify-content-start">
                    <h4 class="mt-2 mr-3 text-truncate">@Model.DestinationName</h4>

                    <input id="input-6" name="input-6" class="rating rating-loading" value="@Model.Rating" data-min="0" data-max="5" data-step=".5" data-readonly="true">
                </div>

                <div>
                    <div class="d-flex justify-content-start">
                        @if(User.IsInRole("User"))
                        {
                            <a class="btn btn-primary btn-secondary mr-1" asp-area="" asp-controller="Manage" asp-action="EditReview" asp-route-id="@Model.Id"> Edit </a>
                        }
                        <form>
                            <button class="btn btn-danger btn ml-1" type="submit" asp-controller="Manage" asp-action="DeleteReview" asp-route-id="@Model.Id">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="text-truncate">
                @Model.Comment
            </div>
        </div>
    </li>
